---
import BaseLayout from "../layouts/BaseLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Slider from "../components/ui/Slider.astro";
---

<BaseLayout pageTitle="Tìm kiếm đất" currentPage="search">
  <section class="hero">
    <span class="decorative">
      <svg class="decorative__top-left">
        <use href="/icons.svg#ladder-top-left"></use>
      </svg>
    </span>
    <div class="hero__form">
      <form class="search-form">
        <div class="search-form__tag nice-tag nice-p2">
          Đất đai là nền tảng cho gia đình
        </div>
        <h2 class="search-form__heading nice-h2">Tìm đất trong một phút</h2>
        <p class="search-form__description nice-p2">
          Hãy là người đầu tiên tìm được ưu đãi tốt nhất không qua trung gian,
          với tài liệu rõ ràng và khả năng thương lượng giá:
        </p>
        <div class="search-form__input-group">
          <div class="search-form__input-label">Diện tích:</div>
          <div class="search-form__input-slider">
            <Slider min={23} max={111} id="sliderArea" />
          </div>
        </div>
        <div class="search-form__input-group">
          <div class="search-form__input-label">Giá mỗi lô:</div>
          <div class="search-form__input-slider">
            <Slider min={1} max={100000} id="sliderPrice" />
          </div>
        </div>
        <button class="search-form__button nice-btn nice-btn--primary"
          >Tìm nhanh</button
        >
      </form>
    </div>
    <span class="decorative">
      <svg class="decorative__bottom-right">
        <use href="/icons.svg#ladder-bottom-right"></use>
      </svg>
    </span>
    <div class="hero__img"></div>
  </section>
  <section class="search-results">
    <div class="search-results__intro">
      <h2 class="search-results__heading nice-h2">Miếng đất đang bán</h2>
      <Breadcrumbs
        links={[
          { title: "Xem tất cả", link: "/tìm-đất" },
          { title: "Sort by", link: "/todo" },
        ]}
      />
    </div>
    <div>TODO sort by dropdown</div>
    <div>TODO view results on map</div>
  </section>
</BaseLayout>

<style lang="sass">
  .hero
    height: calc(100vh - var(--navbar-height) - var(--banner-height))
    display: flex // Place form and hero image next to each other
    &__form
      flex: 50%
      /* Center form within its parent */
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__img
      flex: 50%
      // TODO image sizes
      background-image: url('https://images.ctfassets.net/2lc6rsj68vep/14yCI9eRsRcu4qHmvvFjBu/050cee02ccfbcb858df5fbf62bba2bc8/search-hero.jpg')
      background-repeat: no-repeat
      background-size: cover
      background-position: 30% center

  .search-form
    cursor: default
    width: 80%
    max-width: 46rem
    margin-right: 5%
    margin-left: 15%
    /* Center form elements */
    display: flex
    flex-direction: column
    align-items: start
    &__tag
    &__heading
    &__description
      padding-bottom: 4.2rem
      max-width: 100%
    &__input-group
      width: 75%
      /* Center label and slider on one line */
      display: flex
      align-items: center
      margin-bottom: 2.8rem
    &__input-label
      user-select: none
      font-size: 1.2rem
      font-weight: 600
      letter-spacing: -0.03em
      color: var(--color-grey-dark-2)
      flex: 0 0 7.6rem
    &__input-slider
      flex: 1 1 auto
    &__button
      font-size: 1.2rem
      margin-top: .2rem
      background: var(--color-intermediate-1)

  .search-results
    background: orangered
</style>

<script>
  /* Search form functionality */

  // setTimeout(function () {
  //   let formSliderPrice = document.getElementById("sliderPrice");
  //   console.log(formSliderPrice);
  //   console.log(formSliderPrice.getValues());
  // }, 1000);
</script>
