---
let { links } = Astro.props;

let lastLink = links.pop();
---

<div class="breadcrumbs">
  {
    links.map((item, index) => (
      <>
        <a href={item.link} class="breadcrumbs__link">
          {item.title}
        </a>
        <span class="breadcrumbs__icon">
          <svg>
            <use href="/icons.svg#chevron-right" />
          </svg>
        </span>
      </>
    ))
  }
  {
    (
      <a
        href={lastLink.link}
        class="breadcrumbs__link breadcrumbs__link--current"
      >
        {lastLink.title}
      </a>
    )
  }
</div>

<style lang="sass">
  .breadcrumbs
    display: flex
    align-items: center
    font-size: 1.2rem
    &__icon
      width: 1.1em
      height: 1.1em
      margin-right: .3em
      margin-left: .35em
      svg
        width: 100%
        height: 100%
        fill: currentColor
    &__link
    &__link--current
</style>
