---
---

<div class="form-callback">
  <div class="form-callback__left">
    <div class="form-callback__intro">
      <h2 class="form-callback__heading nice-h2">
        Chúng tôi rất mong nhận được hồi âm từ bạn
      </h2>
      <div class="form-callback__description nice-p2">
        Vui lòng để lại tin nhắn và chúng tôi sẽ gọi lại sớm
      </div>
    </div>
    <form
      class="form-callback__form"
      data-netlify="true"
      method="post"
      id="callbackForm"
      name="callbackForm"
    >
      <div class="form-callback__input nice-input">
        <input
          class="nice-input__input"
          type="text"
          placeholder="Tên của bạn"
          id="cf-name-input"
          name="name"
        />
        <label class="nice-input__hint" for="cf-name-input">Tên của bạn</label>
      </div>
      <div class="form-callback__input nice-input">
        <input
          class="nice-input__input"
          type="tel"
          placeholder="Số điện thoại"
          id="cf-phone-input"
          pattern="(\+?84|0[3|5|7|8|9])+([0-9]{8})"
          required
          name="phone"
        />
        <label class="nice-input__hint" for="cf-phone-input"
          >Số điện thoại</label
        >
      </div>
      <div class="form-callback__input nice-input">
        <textarea
          id="cf-message-input"
          name="message"
          maxlength="5000"
          data-name="field"
          placeholder="Thông tin"
          required=""
          class="nice-input__input"></textarea>
        <label class="nice-input__hint" for="cf-message-input">Thông tin</label>
      </div>
      <button class="nice-btn nice-btn--primary">Nhập thông tin</button>
      <div
        class="form-callback__message form-callback__message--success hidden"
      >
        <h2 class="form-callback__heading nice-h2">
          Cảm ơn bạn đã đăng ký, chúng tôi se goi cho ban som nhe
        </h2>
      </div>
      <div
        class="form-callback__message form-callback__message--failure hidden"
      >
        <h2 class="form-callback__heading nice-h2">
          Could not submit data, try again later!
        </h2>
      </div>
    </form>
  </div>
  <div class="form-callback__right">
    <!-- TODO  -->
    <img
      srcset={`https://images.ctfassets.net/2lc6rsj68vep/4lqBYEGtMmFlWb7VU0blAp/8c503da9cdb77ce0cb5da5cb8ec242d7/form-callback.jpg?w=1600 1600w,
                https://images.ctfassets.net/2lc6rsj68vep/4lqBYEGtMmFlWb7VU0blAp/8c503da9cdb77ce0cb5da5cb8ec242d7/form-callback.jpg?w=1024 1024w`}
      sizes={`(min-width: 1200px) 1600px,
      (min-width: 900px) 700px,
      (min-width: 600px) 400px,
                200px`}
      src="https://images.ctfassets.net/2lc6rsj68vep/4lqBYEGtMmFlWb7VU0blAp/8c503da9cdb77ce0cb5da5cb8ec242d7/form-callback.jpg?w=600"
      alt=""
      class="form-callback__image"
    />
  </div>
</div>

<style lang="sass">
  .form-callback
    max-width: calc(min(116rem, 70vw))
    display: grid
    grid-template-columns: 1fr 1fr
    background: var(--color-grey-light-2)
    &__left
      padding: 8% 10%
      position: relative
    &__intro
      width: 90%
    //   padding-left: .3rem
    &__heading
      // width: 30%
      line-height: 1.2em
      margin-bottom: 1rem
      font-size: 2.5em
    &__description
      margin-bottom: .4rem
    &__form
      input, textarea, button
        box-shadow: var(--shadow-small)
    &__input
      margin-bottom: 2.1rem
      input
        width: 100%
      textarea
        width: 100%
        height: 6em
        padding-top: 1.2rem
        resize: none
    &__message
      background-color: var(--color-grey-light-2)
      width: 120%
      height: 120%
      position: absolute
      top: -10%
      left: -10%
      // top: -0.5rem
      // left: -0.5rem
      // padding: 0.5rem
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      & .form-callback__heading
        text-align: center
        width: 80%
        font-size: 1.8rem
      &--success .form-callback__heading
        color: var(--color-success)
      &--failure .form-callback__heading
        color: var(--color-warning)
    &__right
    &__image
      width: 100%
      height: 100%
      object-fit: cover

  @media only screen and (max-width:1200px)
    .form-callback
      &__left
        padding: 5% 7%
      &__heading
        font-size: 2.2rem
      &__input
        margin-bottom: 1.5rem

  @media only screen and (max-width:1000px)
    .form-callback
      grid-template-columns: 1fr
      grid-template-rows: minmax(min-content, 50vh)
      align-items: center
      &__left
        padding: 6% 6% 6% 14%
        grid-column: 1/-1
        grid-row: 1/2
        z-index: 1000
      &__input
        width: 90%
        input, textarea
          background: var(--color-grey-light-2)
      &__right
        grid-column: 1/-1
        grid-row: 1/2
        height: 100%
      &__image
        opacity: .2
        height: 100%
        width: 100%
  @media only screen and (max-width:600px)
    .form-callback
      max-width: inherit
      &__left
        padding: 5% 6%
      &__input
        width: 100%
      &__heading
        font-size: 2rem
</style>

<script>
  /* Adjust form positioning for mobile devices with open keyboard*/

  // TODO refactor
  /* Form functionality -> Handle form sumbissions to Netlify*/
  const handleFormSubmit = (event) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    // TODO optionally parce data and address messages using name?
    const successMessageEl = myForm.querySelector(
      `.form-callback__message--success`
    );
    const failureMessageEl = myForm.querySelector(
      `.form-callback__message--failure`
    );

    // Submit data
    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    })
      // Check response status to make sure the submission was accepted by Netlify
      // And show success/failure message
      .then((response) => {
        if (!response.ok) {
          failureMessageEl.classList.remove(`hidden`);
        } else {
          successMessageEl.classList.remove(`hidden`);
        }
      })
      // Got no response from netlify (server or network connection is down)
      .catch((error) => {
        failureMessageEl.classList.remove(`hidden`);
      })
      // In all cases add click listener to close form and clear form fields
      // TODO or do the same if popup is closed!!! and remove event listener
      .finally(() => {
        myForm.addEventListener(
          "click",
          function (e) {
            document.querySelector("#popupForm").hide();

            // Clean input fields and hide messages after the popup animation has finished
            setTimeout(() => {
              myForm
                .querySelectorAll(".nice-input__input")
                .forEach((el) => (el.value = ""));

              failureMessageEl.classList.add(`hidden`);
              successMessageEl.classList.add(`hidden`);
            }, 1000);
          },
          { once: true }
        );
      });
  };

  document
    .querySelector(".form-callback__form")
    .addEventListener("submit", handleFormSubmit);
</script>
