---
const { currentPage } = Astro.props;
---

<div class="navbar">
  <div class="main-container navbar__content">
    <div class="navbar__logo">
      <a href="/">
        <img src="/logo_name.svg" />
      </a>
    </div>

    <nav class="navbar__navigation navbar__navigation--small">
      <ul class="navbar__list">
        <li class="navbar__list-item">
          <a
            class={`navbar__link ${
              currentPage === "index" ? "navbar__link--active" : ""
            }`}
            href="/">Trang chủ</a
          >
        </li>
        <li class="navbar__list-item">
          <a
            class={`navbar__link ${
              currentPage === "search" ? "navbar__link--active" : ""
            }`}
            href="/search">Tìm kiếm đất</a
          >
        </li>
        <li class="navbar__list-item">
          <a
            class={`navbar__link ${
              currentPage === "map" ? "navbar__link--active" : ""
            }`}
            href="/map">Xem trên bản đồ</a
          >
        </li>
        <li class="navbar__list-item">
          <a
            class={`navbar__link ${
              currentPage === "contacts" ? "navbar__link--active" : ""
            }`}
            href="/contacts">Liên hệ</a
          >
        </li>
      </ul>
    </nav>
    <div class="navbar__menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <button
      onclick="location.href='tel:+840901606982'"
      class="nice-btn nice-btn--transparent nice-btn--call navbar__button"
    >
      <svg class="nice-btn__icon-call">
        <use href="/icons.svg#phone"></use>
      </svg>
      +84 (09) 0160-6982</button
    ><button
      id="popupFormOpenBtn"
      class="nice-btn nice-btn--primary navbar__button"
      type="button"
    >
      Gọi lại cho tôi
    </button>
  </div>
</div>

<style lang="sass">
  .navbar
    background-color: var(--color-white)
    box-shadow: var(--shadow-medium)
    color: var(--color-grey-dark-1)
    font-size: 1.3rem
    position: sticky
    z-index: 1000
    top: 0
    &__content
      height: var(--navbar-height)
      display: flex
      align-items: center
      justify-content: end
      flex-wrap: wrap
    &__logo
      margin-right: auto
      margin-left: -.5rem
      margin-top: 1rem
      &:hover
        filter: drop-shadow(0rem .4rem 1rem rgba(0, 0, 0, .1))
    &__navigation
      margin-top: .1rem
    &__list
      display: flex
      list-style-type: none
    &__list-item
    &__link
      display: block
      font-family: var(--font-family-display)
      font-weight: 500
      letter-spacing: -.01em
      padding: .4rem .7rem
      white-space: nowrap
      // Gradient animation on hover
      background: linear-gradient(to right, var(--color-grey-dark-1) 0%, var(--color-grey-dark-1) 30%, var(--color-primary) 40%, var(--color-intermediate-2) 60%, var(--color-intermediate-2) 100%)
      background-clip: text
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      text-fill-color: transparent
      background-size: 300%
      background-position: left
      transition: background-position 0.4s ease // Transition on hover out
      &:hover,
      &--active
        background-position: right
        transition: background-position 1.1s ease-in-out // Transition on hover in
    &__button
      flex-shrink: 0
      margin-left: .5rem
      font-size: inherit

  /* Navigation menu with hamburger button for small screens */
  .navbar
    /* Hamburger menu button - closed menu*/
    &__navigation
      // display: none
    &__navigation--small
      background: green
      position: absolute
      top: 0
      right: -32rem
      width: 30rem
      padding: 5rem

    &__list
      flex-direction: column

      // display: fixed
      // top: 0
    &__navigation--open
      background: red
      right: 0
    &__menu-btn
      order: 1 // Place last among other children within flexible container (default flex order = 0)
      margin-top: .7rem
      margin-left: 2rem
      transform: scale(1.2)
      position: relative
      user-select: none
      cursor: pointer
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
      span
        background: var(--color-intermediate-4)
        border-radius: var(--border-radius-medium)
        display: block
        width: 3.2rem
        height: .4rem
        margin-bottom: .6rem
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease
        &:first-child
          transform-origin: 0% 0%
        &:nth-child(2)
          transform-origin: .4rem 0rem // Center point for transformations
        &:last-child
          transform-origin: 0% 100%

    /* Hamburger menu button - opened menu*/
    &__menu-btn--open
      transform: translate(.5rem, .2rem)
      span
        background: var(--color-intermediate-3)
        &:first-child
          transform: rotate(45deg) translate(-2px, -1px)
        &:nth-child(2)
          transform: rotate(0deg) scale(0.2, 0.2)
          opacity: 0
        &:last-child
          transform: rotate(-45deg) translate(0, -1px)
</style>

<script>
  // Open and hide navigation menu
  const menuBtnEl = document.querySelector(".navbar__menu-btn");
  const navEl = document.querySelector(".navbar__navigation");
  menuBtnEl.addEventListener("click", (e) => {
    console.log("Clicked on hamburger!");

    menuBtnEl.classList.toggle("navbar__menu-btn--open");
    navEl.classList.toggle("navbar__navigation--open");
  });
</script>
