---
import Navmenu from "./Navmenu.astro";

const { currentPage } = Astro.props;
---

<div class="navbar">
  <div class="main-container navbar__content">
    <div class="navbar__logo">
      <a href="/">
        <img src="/logo_name.svg" />
      </a>
    </div>
    <Navmenu currentPage={currentPage} />
    <button
      onclick="location.href='tel:+840901606982'"
      class="nice-btn nice-btn--transparent nice-btn--call navbar__button"
    >
      <svg class="nice-btn__icon-call">
        <use href="/icons.svg#phone"></use>
      </svg>
      +84 (09) 0160-6982</button
    ><button
      id="popupFormOpenBtn"
      class="nice-btn nice-btn--primary navbar__button"
      type="button"
    >
      Gọi lại cho tôi
    </button>
  </div>
</div>

<style lang="sass">
  .navbar
    background-color: var(--color-white)
    box-shadow: var(--shadow-medium)
    color: var(--color-grey-dark-1)
    font-size: 1.3rem
    position: sticky
    top: 0
    z-index: 1000
    overflow-x: clip // Clip overflowing navigation menu on smaller screens
    &__content
      height: var(--navbar-height)
      display: flex
      align-items: center
      justify-content: end
      flex-wrap: wrap
    &__logo
      margin-right: auto
      margin-left: -.5rem
      margin-top: 1rem
      &:hover
        filter: drop-shadow(0rem .4rem 1rem rgba(0, 0, 0, .1))
    &__button
      flex-shrink: 0
      margin-left: .5rem
      font-size: inherit
</style>
