///////////////////////////           CSS Reset
*, *::before, *::after
    box-sizing: border-box // More-intuitive box-sizing model that includes border and padding in element width/height
    margin: 0 // Remove default margin

html
    font-size: 62.5% // Set base for rem lenght units (for standart browser font size settings 16px, 1rem = 16px*62.5% = 10px)
                     // So changing the font-size property automatically changes all rem-sized elements
    @media only screen and (max-width: 1100px) 
        font-size: 61%
    @media only screen and (max-width:950px) 
        font-size: 59.375%
    @media only screen and (max-width:650px) 
        font-size: 58%
    @media only screen and (max-width:350px) 
        font-size: 56.5%

body
    line-height: 1.5 // Accessible line height
    -webkit-font-smoothing: antialiased // Improve font rendering (as of 2023 relevant mostly for MacOS users)
    font-smoothing: antialiased

html, body // Full page view to use relative heights in mobile layout independently of mobile bar size, instead of vh units
    height: 100%


img, picture, video, canvas, svg // Simplify sizing of media assets
    display: block
    max-width: 100%

input, button, textarea, select // Remove build-in typography styles
    font: inherit

a
    text-decoration: none
    color: inherit

////////////////////////           Base styles
body
    font-family: var(--font-family-sans-serif)
    background-color: var(--color-grey-light-1)

::selection
    background-color: var(--color-secondary)
    color: var(--color-white)

.main-container
    max-width: var(--container-width)
    margin: 0 auto
    padding-left: var(--container-padding)
    padding-right: var(--container-padding)

.hidden
    display: none // Do not calculate in layout
    opacity: 0    // Starting point for transition animations


// FOR TESTS
        // srcset={`https://images.placeholders.dev/?width=1055&height=100&text=full&bgColor=%23f7f6f6&textColor=%236d6e71 2000w,
        // https://images.placeholders.dev/?width=1055&height=100&text=1600&bgColor=%23f7f6f6&textColor=%236d6e71 1600w,
        // https://images.placeholders.dev/?width=1055&height=100&text=1400&bgColor=%23f7f6f6&textColor=%236d6e71 1400w,
        // https://images.placeholders.dev/?width=1055&height=100&text=1200&bgColor=%23f7f6f6&textColor=%236d6e71 1200w,
        // https://images.placeholders.dev/?width=1055&height=100&text=900&bgColor=%23f7f6f6&textColor=%236d6e71 900w,
        // https://images.placeholders.dev/?width=1055&height=100&text=600&bgColor=%23f7f6f6&textColor=%236d6e71 600w`}