.nice-h1
    font-family: var(--font-family-display)
    font-size: 5.2rem
    font-weight: 600
    line-height: 6.5rem
    
.nice-p1
    font-size: 1.5rem
    font-weight: 600

.nice-h2
    font-family: var(--font-family-display)
    font-size: 3rem
    font-weight: 600
    line-height: 5rem
    color: var(--color-grey-dark-1)
.nice-p2
    font-family: var(--font-family-display)
    font-size: 1.2rem
    font-weight: 500
    line-height: 1.6rem
    color: var(--color-grey-dark-2)

.nice-h3
    font-family: var(--font-family-display)
    font-size: 2.4rem
    font-weight: 600
    letter-spacing: -.03em
    color: var(--color-grey-dark-1)
.nice-p3
    font-family: var(--font-family-display)
    font-size: 1.2rem
    font-weight: 500
    line-height: 2rem
    color: var(--color-grey-dark-2)

.nice-h4
    font-family: var(--font-family-display)
    font-size: 1.8rem
    font-weight: 600
    color: var(--color-grey-dark-1)
.nice-p4
    font-size: 1.2rem
    font-weight: 400
    line-height: 1.9rem
    color: var(--color-grey-dark-2)

.nice-tag
  padding: .35rem .85rem .35rem
  border-radius: 3.2rem
  background: var(--color-grey-dark-3)
  display: inline-block


@media only screen and (max-width:1500px)
  .nice-h1
    font-size: 4.8rem
    line-height: 5.5rem
  .nice-p1
    font-size: 1.4rem
@media only screen and (max-width:1200px)
  .nice-h1
    font-size: 4.2rem
    line-height: 4.9rem
  .nice-p1
    font-size: 1.3rem
@media only screen and (max-width:900px)
  .nice-h1
    font-size: 3.5rem
    line-height: 3.9rem
  .nice-h2
    font-size: 2.8rem
    line-height: 4.5rem
  .nice-p1
    font-size: 1.2rem
@media only screen and (max-width:600px)
  .nice-h1
    font-size: 2.8rem
    line-height: 3.4rem
  .nice-h2
    font-size: 2.4rem
    line-height: 3.5rem
  .nice-p1
    font-size: 1.1rem
@media only screen and (max-width: 560px)
  .nice-p4
    font-size: 1.3rem

